.userContainer {
  display: flex;
  align-items: center;
}
.text {
  font-size: 15px;
  font-weight: 500;
}
.button {
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  padding: 5px;
  background-color: #2a363b;
  margin: 5px;
}
